img{
	width:200px;
	height:100px;
	}
aside{
	
	text-align:end;
}	
.id{
	font-size:40px;
}
.box{
	display:flex;
	flex-wrap:wrap;
}
div{
	border:solid 2px black;
}
img{
    width:50%;
    height:50%;	
}
h2{
	font-size:15vmin;
}