img{
    width: 300px;
    height: 300px;
    filter: 
    /* filter: blur(4px); */
    /* filter: contrast(100); */
    /* filter:grayscale(100%); */
    /* filter:hue-rotate(180deg); */
    /* filter: invert(500); */

}