.header{
    width:80%;
    margin:auto;
    outline:2px solid;
    padding: 50px;
}
.advertisement{
    width:80%;
    margin:auto;
    outline:2px solid;
    padding: 50px;
}
.about{
    width:80%;
    margin:auto;
    outline:2px solid;
    height: 40px;
    padding: 50px;
}
.detail{
    width:80%;
    margin:auto;
    outline:2px solid;
    padding:50px;
}
.workingabout{
    width:80%;
    margin:auto;
    outline:2px solid;
    padding:50px;
}
.menu{
    width:80%;
    margin:auto;
    outline:2px solid;
    padding:50px;
}
.rating{
    width:80%;
    margin:auto;
    outline:2px solid;
    padding: 50px;
}
.events{
    width:80%;
    margin:auto;
    outline:2px solid;
    padding: 50px;
}
.pricedetail{
    width:80%;
    margin:auto;
    outline:2px solid;
    padding: 50px;
}
.chefs{
    width:80%;
    margin:auto;
    outline:2px solid;
    padding:50px;
}
.booking{
    width:80%;
    margin:auto;
    outline:2px solid;
    padding:50px;
}
.gallary{
    width:80%;
    margin:auto;
    outline:2px solid;
    padding:50px;
}
.contact{
    width:80%;
    margin:auto;
    outline:2px solid;
    padding: 50px;
}
.address{
    width:80%;
    margin:auto;
    outline:2px solid;
    padding: 50px;
}
.footer{
    width:80%;
    margin:auto;
    outline:2px solid;
    padding:50px;
}
.legal{
    width:80%;
    margin:auto;
    outline:2px solid;
    padding: 50px;
}