/* header starts */
.container{
    width: 1343px;
    border: 2px solid ;
    margin: auto;
    background-color: black;
}
.nav{
    display: flex;
    width: 1243px;
    height: 109px;
    display: flex;
    /* justify-content: space-between; */
}
a{
    text-decoration: none;
    color: white;
}
ul li{
    display: inline-block;
    margin: 20px;
    text-align: center;
}
.heading{
    font-size: 250%;
    color: white;
}
.list{
    margin-left: 20px;
}
ul{
    margin-left: 160px;
}
.lists ul{
    display: flex;
    text-decoration: none;
}
/* header ends */

/* features starts */
.overall{
    /* color: white; */
}
.h1 h1{
    text-align: center;
    font-size: 300%;
    color: white;
}
.h1 p{
    text-align: center;
    font-size: 140%;
    color: gray;
}
.button button{
    color: white;
    background-color: #3ebd86;
    padding: 10px  30px 10px 30px;
    font-size: 150%;
    border-radius: 10px;
}
.button{
    text-align: center;
}
/* features ends */

/* photos starts */
.portfolio{
    width: 100%;
    display: flex;
}
.box1{
    width: 6.25%;
    border: 2px solid;
    color: white;
    height: 235px;
}
.box2{
    width: 6.25%;
    border: 2px solid;
    color: white;
    height: 235px;
}

.box3{
    width: 6.25%;
    border: 2px solid;
    color: white;
    height: 235px;
}

.box4{
    width: 6.25%;
    border: 2px solid;
    color: white;
    height: 235px;
}

.box5{
    width: 6.25%;
    border: 2px solid;
    color: white;
    height: 235px;
}

.box6{
    width: 6.25%;
    border: 2px solid;
    color: white;
    height: 235px;
}
/* photos ends */