

.container{
    width: 1140px;
    margin: auto;
    position: relative;
    /* border: solid 2px black; */
}
.connect{
    display: flex;
    height: 40px;
    
}
.connect a{
    text-decoration: none;
    color: black;
    padding-right: 30px;
    font-family: sans-serif;
}
.connect a i{
    color: #0288D1;
}
.connect a:hover{
    color: #0288D1;
}
.overall-connect{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
}
.social-media{
    margin-left: 150px;

}
.social-media i{
    padding: 10px;
    color: #455A64;
}
.social-media i:hover{
    color: #0288D1;
}
.lists ul li a{
    text-decoration: none;
    color:#607D8B;
}
.lists ul li a:hover{
    color:#22a8f0;
}
/* nav starts */
.navigation{
    display: flex;
    justify-content: space-between;
}
.mamba{
    font-size: 200%;
    color: #0D47A1;
    font-family: 'Courier New', Courier, monospace;
}
.lists{
    display: flex;
}
ul li{
    display: inline-block;
    padding: 20px;
    color: #5C768D;
}
/* nav ends */

/* banner starts */
.background{
    width: 100%;
    height:520px; 
    background: url(../slide-1.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    

}
.background  div{
    width: 100%;
    height: 520px;
    background-color: rgb(0 0 0 /0.6);
    
}
.content{
    width: 100%;;
    height: 465px;
    padding-top: 100px;
    font-family: sans-serif;

}
.content h1{
    font-size: 70px;
    padding: 0;
    margin: 0;
    color: white;
    
}
.content p{
    color:white;
    padding-bottom: 20px;
    letter-spacing: 1px;
} 
.button button{
    color: white;
    background-color: #0288D1;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: none;

}

/* banner ends */

/* aboutus starts */
.collection{
    width: 100%;
    display: flex;
    margin-top: 100px;
    box-shadow: 7px 1px 15px 1px gray;
}
.photo{
    width: 50%;
    height: 635px;
    background-image: url(../about.jpg);
    background-position: center;

}
.aboutus{
    width: 50%;
    padding-left: 20px;
}
.heading{
    height: 33.3%;
    width: 100%;
    text-align: center;
}
.heading h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    color: gray;
    text-align: center;
}
.heading p{

    color: gray;
}
.box1{
    width: 100%;
    height: 33.3%;
    text-align: center;
}
.box1 p{
    color: gray;
}
.box2{
    width: 100%;
    height: 33.3%;
   
     text-align: center;
}
.box2 p{
    color: gray;
}
.box1 .icon{
    display: flex;
    color: #0288D1;
    font-size: 30px;
    width: 60px;
    height: 60px;
    background-color:#ECEFF1;
    border-radius: 10px ;
    padding:10px;
    justify-content: center;
    align-items: center;
    margin-left: 86px;
    margin-bottom: -60px;

}

.box2 .icon{  
    display: flex;
    color: #0288D1;
    font-size: 30px;
    width: 60px;
    height: 60px;
    background-color:#ECEFF1;
    border-radius: 10px ;
    padding:10px;
    justify-content: center;
    align-items: center;
    margin-left: 86px;
    margin-bottom: -60px;

}
.box1 .icon:hover{
   background-color: #0288D1; 
   color: white;
    cursor: pointer;
    transition: all 0.5s ;
}
.box2 .icon:hover{
    background-color: #0288D1; 
    color: white;
     cursor: pointer;
     transition: all ;
}

/* aboutus ends */

/* details  starts*/
.boxes{
    width: 100%;
    height: auto;
    padding-top: 70px;
}
.boxes h1{
    color: #7fcaf2;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}
.boxes h2{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}
.row1{
    width: 100%;
    height: 50%;
    display: flex;
}
 .del-1{ 
    width: 33.3%;
    border: 1px solid rgb(158, 158, 158);
    border-left: none;
    border-top: none;
    padding-left:20px;
}
.del-2{
    width: 33.3%;
    border: 1px solid rgb(158, 158, 158);
    border-left: none;
    border-top: none;
    padding-left: 20px;
}
.del-3{
    width: 33.3%;
    border-bottom: 1px solid rgb(158, 158, 158);
    padding-left: 20px;
}
/*.row1 del{
     width: 33.3%; 
    border-top: none;
    border-left: none;
    padding-left: 20px;
     border: 1px solid; */

.row2{
    width: 100%;
    height: 50%;
    display: flex;
    padding-bottom: 30px;
}
.del-4{
    width: 33.3%;
    border: 1px solid rgb(158, 158, 158);
    border-left: none;
    border-top: none;
    border-bottom: none;
    padding-left: 20px;
    padding-bottom: 30px;
}
.del-5{
    width: 33.3%;
    padding-left: 20px;
    border: 1px solid rgb(158, 158, 158);
    border-left: none;
    border-bottom: none;
    border-top: none;
    padding-bottom: 30px;
}
.del-6{
    width: 33.3%;
    border-right:none ;
    border-bottom: none;
    padding-left: 20px;
    padding-bottom: 30px;
}

/*detail ends  */


/* acheviements starts */
.acheviements{
    background-color: #ECEFF1;
    height: 270px;
    /* width: 100%; */
    padding-top: 20px;
}
.overall-box{
    width: 100%;
    height: 160px;
    /* border: 1px solid red; */
    display: flex;
    margin-top: 35px;
    
}
.achevie-box{
    width: 25%;
    height: 140px;
    /* border: #0288D1 1px solid; */
    margin: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 025px gray;
    margin-top: 30px;
    
}
.achevie-box h1{
    color: #0D47A1;
    font-size: 40px;
    font-family: sans-serif;
    margin-top: 30px;
}
.acheive-box p{
    margin-top: 10px;
}
/* achevements ends */

/* services starts */
.services{
    padding-top:50px ;
}
.overall-con{
    width: 100%;
    height: 670px;
    /* border: 1px solid red; */
}
.service-head{
    font-size: 200%;
    color: #0D47A1;
    text-align: center;
    padding-top: 30px;
}
.service-boxes{
    width: 100%;
    height: 470px;
    /* border: 2px solid red; */
    padding-top:50px ;
}
.row-1{
    height: 50%;
    /* border: #0288D1 2px solid; */
    display: flex;
}
.row-1 .service{
    width: 33.3%;
    /* border: 1px solid darkgreen; */
    text-align: center;
}
.row-2{
    height: 50%;
    /* border: #0288D1 2px solid; */
    display:flex
}
.row-2 .service{
    width: 33.3%;
    /* border: 1px solid darkgreen;  */
    text-align: center;  
}
.text{
    margin-top: 20px;
}
.text p{
    font-family: sans-serif;
    color: black;
    
}
.text h1{
    color: black;
}
.service .icon{
    color: #0288D1;
    font-size: 40px;
    background-color: #eff4f5;
    width: 65px;
    height: 60px;
    margin-left: 150px;
    border-radius: 30px;
    /* box-shadow: 0 0 25px gray;     */
    display: flex;
    justify-content: center;
    align-items: center;
}
.service{
    padding-top: 50px;
    padding: 20px;
}
.service .icon:hover{
    box-shadow: 0 0 25px rgb(102, 168, 255);
    transition: all 0.1s ease;
}
.hr{
    width: 80px;
    height: 2px;
    background-color: #0288D1;
    margin-left: 130px;
}
.text h1:hover{
    color: #0288D1;
    cursor: pointer;
}
/* services ends */



/* our potfolio starts */

.potfolio{
    box-sizing: border-box;
}
.potfolio-heading h1{
   font-size: 250%;
    color:  #607D8B;
    font-family: sans-serif;
    text-align: center;
}
.potfolio-heading p{
    font-family: sans-serif;
    text-align: center;
}
.potfolio-buttons{
    text-align: center;
}
.potfolio-buttons button{
    background-color: white;
    color: black;
    width: 80px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}
.potfolio-buttons button:hover{
    color: white;
    background-color: #0288D1;
}

/* our potfolio  ends */

/* potfolio photos starts*/
.potfolio-photos-sec{
    padding-bottom: 50px;
    background-color: rgb(245,249,252);
}
.potfloio-overall{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
}  
.potfolio-box{
    width: 33.33%;
    /* border: 1px solid; */
    margin: 10px;
    display: block;
    overflow: hidden;
    position: relative;
}
.potfolio-box img{
    width: 100%;
    height:100%;
   
}
.potfolio-shadow{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height:276px ;
    top: 0px;
    position: absolute;
    opacity:0;
}
.text-icon{
    text-align: center;
    margin-top: 50px;
    color: #fff;
    transform: translateY(-20px);
    transition: all 0.5s;
}
.text-icon h4{
    font-size: 20px;
    padding: 10px;
}
.potfolio-icon{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
}
.potfolio-icon a{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: white;
    color: #0288D1;
    margin: 5px;
    line-height: 40px;
    text-decoration: none;
}
.potfolio-icon a:hover{
    color: white;
    background-color: #0288D1;
}
.potfolio-box:hover .potfolio-shadow{
    opacity: 1;
    transition: all 0.5s;
}
.potfolio-box:hover img{
    transform: scale(1.1);
    transition: all 0.5s;
}
.potfolio-box:hover .text-icon{
    transform: translateY(0px);
    transition: all 0.5s;
}
/* potfolio photos ends */


/* our teams starts */
.ourteam-heading{
    color: #607D8B;
    font-family: sans-serif;
    text-align: center;
}
.ourteam-heading h1{
    font-size: 30px;
}
.ourteam-overall{
    width: 100%;
    height: 305px;
    /* border: 1px solid; */
    display: flex;
}
 .ourteam-box1{
    width: 25%;
    height: 290px;
    /* border: 1px solid; */
    overflow: hidden;
    padding-bottom: 100px;
    margin: 5px;
}
.ourteam-overall .ourteam-box1 img{
    width: 100%;
    height: 290px;
    border-radius: 5px;
    transition: all 0.5s;
}
.ourteam-text{
    width: 250px;
    height: 130px;
    /* border: 1px solid; */
    /* text-align: center; */
    position: relative;
    display: block;
}
.ourteam-info{
    color: white;
    background:linear-gradient(360deg,rgb(144, 164, 174,0.9),rgb(84, 110, 122,0.9));
    text-align: center;
    position: absolute;
    width: 100%;
    height: 150px;
    top: -80px;
    margin-left: 10px;
    border-radius: 5px;
}
.ourteam-hr{
    width: 80px;
    height: 2px;
    background-color: white;
    margin-left: 90px;
}
.ourteam-box1:hover  img{
    transform: scale(1.1);
    transition: all 0.5s;
}
.ourteam-icon{
    color: white;
    margin-top: 5px;
}
.ourteam-icon i:hover{
    color: #0288D1;
}
/* our teams ends */


/* faq starts */
.fqa{
    margin-top: 100px;
    font-family: sans-serif;
    background-color:#f8f8f8;
}
.fqa-heading h1{
    text-align: center;
    color: #607D8B;
    font-size: 25px;
    font-family: sans-serif;
    padding-top: 30px;
}
.fqa-overall{
    width: 100%;
    height: auto;
    /* border: 1px solid; */
    display: flex;
}
.col{
    width: 50%;
    height: auto;
    /* border: 1px solid red; */
    padding-right: 10px;
}
.col h2{
    color:#455A64;  
}
.col .fqa-row{
    padding:10px;
    height: 200px;
}
.fqa-row p{
    color: #455A64;
    letter-spacing: 1px;
}
/* faq ends */

/* contactus starts */
.contactus-heading{
    color: #607D8B;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
}
.contactus-overall{
    width: 100%;
    height: 200px;
    /* border: 1px solid; */
    display: flex;
    text-align: center;
    padding-bottom: 50px;
}
.contactus-text h2{
    color:#546E7A;
}
.contactus-address{
    width: 50%;
    height: 200px;
   font-family: sans-serif;
    /* border: 1px solid red; */
    margin-right: 10px;
    box-shadow: 0 0 5px gray;
}
.contactus-email{
    width: 25%;
    height: 200px;
    font-family: sans-serif;
    /* border: 1px solid red; */
    margin-right: 10px;
    box-shadow: 0 0 5px gray;
}
.contactus-contact{
    width: 25%;
    height: 200px;
    font-family: sans-serif;
    /* border: 1px solid red; */
    margin-right: 10px;
    box-shadow: 0 0 5px gray;
}
.contactus-icon{
    color: #0288D1;
    width: 60px;
    height: 60px;
    background-color: #f1e3e3;
    border-radius: 60px;
    line-height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.contactus-icon i{
    font-size: 30px;
    
}
.contactus-address .contactus-icon{
    margin-left: 250px;
    margin-top: 30px;
}
.contactus-email .contactus-icon{
    margin-left: 110px;
    margin-top: 30px;
}
.contactus-contact .contactus-icon{
    margin-left: 110px;
    margin-top: 30px;
}
/* contactus ends */

/* forms starts */
.form{
    width: 100%;
    height: auto;
    /* border: 1px solid; */
    padding: 30px;
    box-shadow: 0 0 1px gray;
}
.subject{
    width: 100%;
    display: flex;
    margin-top: 30px;
}
.name{
    width: 50%;
    margin-right: 20px;
}
.email{
    width: 50%;

}
.subject-area{
    width: 100%;
    
}
.subject input{
    height: 30px;
}
.subject input textarea{
    padding: 20px;
    border:gray 1px solid;
}
.form input:focus{
    outline: 0px;
    border: #0288D1 1px solid;
}
.subject textarea:focus{
    outline: 0px;
    border: #0288D1 1px solid;
}
.textarea{
    width: 100%;
    height: 100px;
}
.name::placeholder{
    font-size: 17px;
}
.email::placeholder{
    font-size: 17px;
}
.subject-area::placeholder{
    font-size: 17px;
}
.textarea::placeholder{
    font-size: 17px;
}  

.form-button{
    text-align: center;
    letter-spacing: 1px;
    padding-top: 30px;
}
.form-button button{
    background-color: #0288D1;
    color: white;
    padding-top: 10px;
    padding: 10px 15px 10px 15px;
    border: none;
    font-size: 15px;
}
/* forms ends */

/* footer starts */
.footer{
    background-color: #5C768D;
    margin-top: 50px;
}
.footer-overall{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    font-family: sans-serif;
    color: white;
    display: flex;
    padding-bottom: 30px;
}
.footer-row1{
    width: 20%;
    /* border: #0288D1 1px solid; */
}
.footer-col{
    width:25%;
    /* border: #0288D1 1px solid; */
}
.footer-col h3{
    margin-left: 60px;
}
.footer-col3{
    margin-left: 60px;
}
.footer-icon{
    display: flex;
    text-align: center;
}
.footer-icon i:hover{
    color: white;
    background-color: #0288D1;
    transition: all 0.5s;
}
.footer-icon i{
    width: 30px;
    height: 30px;
    background-color:#607D8B;
    border-radius: 20px;
    color: #fff;
    line-height: 30px;
    margin: 5px;
 }
.footer-list ul li{
    color: white;
    padding: 10px;
}
.footer-list ul a{
    text-decoration: none;
    color: white;
}
.footer-list ul a li:hover{
    color:#78909C;
    transition: all 0.5s;
}
.footer-col3{
    letter-spacing: 1px;
}
.footer-form{
    margin-top: 30px;
}
.footer-input{
    width: 250px;
    height: 40px;
}
.footer-button{
    width: 135px;
    height: 45px;
    background-color: #0288D1;
    color: #fff;
    border: none;
    font-size: 18px;  
}
.footer-form{
    display: flex;
}
/* footer ends */

/* footer-bottom starts */
.footer-bottom{
    background-color:  rgb(88,113,135);
    color: #fff;
    margin:0;
    padding: 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
}
.footer-bottom p a{
    text-decoration: none;
    color:  #78909C;
}


/* footer-bottom ends */
